<div class="sidebar" id="sideBar">
  
    <div class="admin-sidebar-header">
        <div class="admin-brand-logo text-center">
            <a href="#"><img alt="logo" src="assets/img/brand-dash.png"></a>
        </div>
        <div class="admin-brand-logo-mini text-center">
            <a href="#"><img alt="logo" src="assets/img/brand-dash-icon.png"></a>
        </div>
    </div>
    
      
    
      
        <nav class="sidebar-nav">
          <ul class="nav">
            <!---->
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link active" href="#/dashboard">
          <i container="body" placement="right" class="msi msi-dashboard"></i>
          <span>Dashboard</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/details">
          <i container="body" placement="right" class="msi msi-user-details"></i>
          <span>My Details</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/shares">
          <i container="body" placement="right" class="msi msi-my-shares"></i>
          <span>My Shares</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/transaction">
          <i container="body" placement="right" class="msi msi-transactions"></i>
          <span>My Transaction History</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/portfolio">
          <i container="body" placement="right" class="msi msi-portfolio"></i>
          <span>My Portfolio</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/pledgeShare">
          <i container="body" placement="right" class="msi msi-share-details"></i>
          <span>My Pledge Share Detail</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/bank">
          <i container="body" placement="right" class="msi msi-bank-request"></i>
          <span>My Bank Request</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/asba">
          <i container="body" placement="right" class="msi msi-asba"></i>
          <span>My ASBA</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/purchase">
          <i container="body" placement="right" class="msi msi-my-purchase"></i>
          <span>My Purchase Source</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
              <!---->
              <!---->
              <!---->
                
        
        <li class="nav-item">
          
        <!----><a routerlinkactive="active" class="nav-link" href="#/edis">
          <i container="body" placement="right" class="msi msi-my-edis"></i>
          <span>My EDIS</span>
          <!---->
        </a>
        <!---->
      
        </li>
        <!---->
        
              
            
          </ul>
        </nav>
      <footer>
      <div class="footer-text">
        <p>© 2021 CDS and Clearing Limited.</p>
        <p>All Rights Reserved</p>
      </div>
    </footer>
    
      
    </div>